<div class="max-w-3xl mx-auto py-10">
  <h1 class="text-3xl font-semibold mb-4">You have unsubscribed.</h1>

  <p class="mb-6">
    <span class="font-semibold"><%= @contact.email %></span> will no longer receive emails.
  </p>

  <p class="mb-6">
    Reach out to <a href="mailto:support@replicate.info" class="text-blue-600 hover:underline font-semibold">support@replicate.info</a> if you change your mind.
  </p>
</div>