<div class="lg:max-w-3xl mx-auto py-8">
  <h1 class="text-2xl font-semibold mb-4">You have unsubscribed.</h1>

  <p class="mb-4">
    <span class="font-semibold"><%= @contact.email %></span>
    will no longer receive emails.
  </p>

  <%= form_with url: "/contacts/#{@contact.id}/resubscribe", method: :post, local: true do %>
    <%= submit_tag "Resubscribe", class: "px-4 py-2 rounded bg-blue-600 text-white font-semibold hover:bg-blue-700" %>
  <% end %>
</div>