<div class="md:mt-4 text-[15px] text-gray-800 dark:text-zinc-300 leading-6">
  <%= @experience.description.html_safe %>
</div>

<% @experience.elements.root_level.includes(elements: :conversation).order(sort_order: :asc).each_with_index do |element, i| %>
  <%= render "elements/#{element.code.underscore}", element: element %>
<% end %>