default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  pool: 5
  timeout: 5000
  host: localhost
development:
  <<: *default
  database: replicate_dev
test:
  <<: *default
  database: replicate_test