<div class="leading-relaxed text-gray-800 text-[17px]">
  <div class="flex flex-col lg:flex-row gap-2 lg:gap-8">
    <div class="lg:basis-3/5 order-2 lg:order-1">
      <%= render "static/trial_form", extra_form_container_classes: "shadow border-neutral-200", show_next_steps_header: false %>
    </div>
    <div class="lg:basis-2/5 order-1 lg:order-2 mb-6">
      <div class="grid border border-neutral-200 shadow rounded-md overflow-hidden text-[14px]">
        <div class="grid grid-cols-2 bg-neutral-100 border-b border-neutral-200">
          <div class="px-4 py-3 font-semibold">Team Size</div>
          <div class="px-4 py-3"><span class="font-semibold">Annual Price</span> (USD)</div>
        </div>
        <div class="grid grid-cols-2 border-b border-neutral-100">
          <div class="px-4 py-3">Up to <span class="font-semibold">25</span> engineers</div>
          <div class="px-4 py-3">$20,000</div>
        </div>
        <div class="grid grid-cols-2 border-b border-neutral-100">
          <div class="px-4 py-3">Up to <span class="font-semibold">75</span> engineers</div>
          <div class="px-4 py-3">$40,000</div>
        </div>
        <div class="grid grid-cols-2 border-b border-neutral-100">
          <div class="px-4 py-3">Up to <span class="font-semibold">150</span> engineers</div>
          <div class="px-4 py-3">$60,000</div>
        </div>
        <div class="grid grid-cols-2 border-b border-neutral-100">
          <div class="px-4 py-3">Up to <span class="font-semibold">300</span> engineers</div>
          <div class="px-4 py-3">$80,000</div>
        </div>
        <div class="grid grid-cols-2">
          <div class="px-4 py-3">Up to <span class="font-semibold">500</span> engineers</div>
          <div class="px-4 py-3">$100,000</div>
        </div>
      </div>
      <div class="mt-6 p-4 text-sm border border-gray-300 bg-slate-100">
        <span class="font-semibold">One annual invoice</span>. Supports <span class="font-semibold">partial terms</span> to align with budget cycles, and <span class="font-semibold">30%</span> multi-year discounts.
        <div class="block mt-4" style="line-height: 1.4rem"><span class="font-semibold">No auto-renewal</span>, or evergreen clauses.</div>
      </div>
      <div class="p-4 text-sm border-l border-r border-b border-gray-300 bg-white-100">
        <div class="mb-2">&bull;&nbsp;<span class="font-semibold">5x Liability Cap</span> - Uncapped for gross misconduct.</div>
        <div>&bull;&nbsp;<span class="font-semibold">Email only</span>. No cookies, accounts to manage, etc.</div>
        <div>&bull;&nbsp;Zero access to <span class="font-semibold">customer data</span>.</div>
        <div class="font-medium">&bull;&nbsp;<%= link_to '$1M E&O', '/replicate-coi.pdf', class: "text-blue-600 hover:underline font-semibold", target: "_blank" %> + <%= link_to '$1M Cyber', '/replicate-coi.pdf', class: "text-blue-600 hover:underline font-semibold", target: "_blank" %> Coverage</div>
        <div class="font-medium">&bull;&nbsp;No RFPs, redlines, or vendor portals</div>
      </div>
      <div class="mt-4 hidden lg:block">
        <%= render "static/signature" %>
      </div>
    </div>
  </div>
</div>