<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[15px] max-w-[90ch] text-[17px] text-gray-800">
      <%= render "conversations/conversation" %>
    </div>
  </div>
</div>