<div class="pt-2 md:pt-8 lg:hidden mb-[20px]">
  <h1 class="text-[21px] font-semibold md:font-medium tracking-tight mb-3">
    Find the <span style="color: #E63946">SEV-1</span> before it finds prod<span class="hidden md:inline">uction</span>.
  </h1>
  <div class="mb-3">
    GPT emails you a SEV every Monday, and keeps pushing until you hit a wall.
  </div>

  <div>
    Pressure tests for infra blind spots, in a format your team will actually use.
  </div>
</div>

<div class="text-md tracking-[0.008em]">
  <div class="hidden lg:block">
    <div class="mt-[14px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[21px] lg:text-[26px] font-semibold md:font-medium tracking-tight mb-[12px]">
        Find the <span style="color: #E63946">SEV-1</span> before it finds production.
      </h1>
      <p class="mb-4">
        GPT emails you a SEV every Monday, and pushes until you hit a wall. <span class="bg-yellow-200 font-semibold px-1">Bite-sized pressure tests</span> for infra blind spots.
      </p>

      <p>
        You'll notice sharper language in PR comments, and fewer incidents. Roll it out in <span class="font-semibold">5 minutes</span>. No calls. No UI to manage.
      </p>
    </div>
  </div>
  <div class="lg:mt-[20px]">
    <img src="/intro-email-mobile.png" class="border-2 border-gray-200 rounded-lg w-full md:hidden" />
    <img src="/intro-email-desktop.png" class="border-2 border-gray-200 rounded-lg w-full hidden md:block" />

    <div class="mt-6">
      <img src="/example-incidents.png" class="w-full rounded-xl border border-gray-700" />
    </div>

    <div class="flex flex-col">
      <div class="mt-6">
        <%= render "conversations/conversation" %>
      </div>

      <div class="mt-6">
        <%= render "extended_cta" %>
      </div>
    </div>

    <div class="mt-6">
      <%= render "static/signature" %>
    </div>
  </div>
</div>