<div class="flex flex-col lg:flex-row lg:gap-9 pt-2 md:pt-8 lg:hidden">
  <!-- Left Column: Headline + Form -->
  <div class="lg:w-1/2 w-full">
    <h1 class="text-[21px] lg:text-[27px] font-semibold md:font-medium tracking-tight mb-4 lg:mb-[5px]">
      Find the <span style="color: #E63946">SEV-1</span> before it finds prod.
    </h1>
    <div class="lg:hidden">
      <p class="mb-3">
        This tool helps <span class="font-semibold">cloud-native engineering teams</span> sharpen their production instincts.
      </p>

      <p class="mb-3">
        It's a <span class="font-semibold">weekly fire drill</span>, over email.
      </p>

      <p class="mb-3">
        GPT drops you into a SEV, and you explain your thoughts until you hit a wall. It expands the blast radius, to make you trip over infra blind spots that might've crashed prod.
      </p>

      <p class="mb-3">
        <span class="font-semibold">No UI</span>. Just check your inbox every Monday, put in the rep, and ask your team how they did.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="text-md leading-relaxed tracking-[0.008em]">
    <div class="hidden lg:block">
      <div class="mt-[20px] max-w-[90ch] text-[17px] text-gray-800">
        <div class="flex flex-row items-center mb-6">
          <div class="basis-1/2">
            <h1 class="text-[21px] lg:text-[27px] font-semibold md:font-medium tracking-tight pb-0">
              Find the <span style="color: #E63946">SEV-1</span> before it finds prod.
            </h1>
            <div class="text-[14px] tracking-tight whitespace-nowrap overflow-visible">
              3-month trial. No logins, credit cards, or sales calls. Auto-unsubscribed after 3 inactive weeks.
            </div>
          </div>
          <div class="basis-1/2">
            <%= render "static/signature" %>
          </div>
        </div>
        <p class="mb-4">
          This tool helps <span class="font-semibold">cloud-native engineering teams</span> sharpen their production instincts. It's a <span class="font-semibold">weekly fire drill</span>, over email.
        </p>

        <p class="mb-4">
          GPT drops you into a SEV, and makes you think out loud until you hit a wall. It expands the blast radius to make you trip over blind spots that could take down prod. The drills are platform agnostic, and focus on core infra fundamentals.
        </p>

        <p class="mb-6">
          <span class="font-semibold">No UI to manage</span>. It's a cron job. Just check your inbox every Monday, put in the rep, and ask your team how they did.
        </p>
      </div>
    </div>
    <div class="mt-3 md:hidden">
      <img src="/intro-email-mobile.png" class="border rounded-lg shadow w-full" />
    </div>
    <div class="hidden md:block md:mt-4 lg:mt-4">
      <img src="/intro-email-desktop.png" class="border rounded-lg shadow w-full" />

      <div class="mt-8">
        <img src="/example-incidents.jpg" class="w-full rounded-xl border border-gray-700" />
      </div>
    </div>

    <div class="mt-6 w-full lg:max-w-[780px] mx-auto text-center">
      <a href="/sev" class="text-md md:text-[19px] tracking-tight shadow inline-block rounded-lg bg-indigo-700 px-5 py-3 font-semibold text-white transition hover:bg-indigo-800 hover:shadow-md active:bg-indigo-900 sm:w-auto focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-400">Try the web-based version</a>
    </div>
    <div class="mt-4 mb-14 md:mb-0 text-[15px] text-center text-gray-500">
      No logins. No credit cards.
    </div>
  </div>

  <div class="mt-8 lg:mt-14">
    <%= render "extended_cta" %>
  </div>
</div>