<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[17px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[20px] lg:text-[24px] tracking-tight mb-[12px] hidden md:block">
        <span class="font-semibold">Infra puzzles</span> that sharpen your production instincts
      </h1>
      <p class="mb-4">
        GPT drops you into a SEV-1, and expands the blast radius until you mess up. <span class="hidden lg:inline">It catches most people in 4-5 turns.</span>
      </p>

      <p class="mb-4 hidden lg:block">
        It simulates that feeling when your mental model crumbles at 2:00am in prod. <span class="font-semibold">You win by learning something new</span>.
      </p>

      <div class="mb-4 md:hidden">
        <div class="mb-4 font-semibold">You win by learning something new.</div>It simulates that feeling when your mental model crumbles at 2:00am in prod.
      </div>

      <p class="mb-4 hidden md:block lg:hidden">
        It simulates that feeling when your mental model crumbles at 2:00am in production.
      </p>

      <p class="mb-4 hidden md:block lg:hidden">
        <span class="font-semibold">You win by learning something new</span>. It catches most SREs in 5 turns. That's the point.
      </p>

      <div class="mb-6">
        <%= render "conversations/conversation" %>
      </div>

      <% if Rails.env.development? && false %>
        <div class="mb-6">
          <%= render "shared/incident_library"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-6 lg:mt-[20px]">
    <div>
      <img src="/example-incidents.png" class="w-full rounded-xl border border-gray-700" />
    </div>

    <div class="flex flex-col">
      <div class="mt-6">
        <%= render "extended_cta" %>
      </div>
    </div>

    <div class="mt-6">
      <img src="/intro-email-mobile.png" class="border-2 border-gray-200 rounded-lg w-full md:hidden" />
      <img src="/intro-email-desktop.png" class="border-2 border-gray-200 rounded-lg w-full hidden md:block" />
    </div>

    <div class="mt-4">
      <%= render "static/signature" %>
    </div>
  </div>
</div>