<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[14px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[21px] lg:text-[26px] font-semibold md:font-medium tracking-tight mb-[12px]">
        Find the <span style="color: #E63946">SEV-1</span> before it finds prod<span class="hidden md:inline">uction</span>.
      </h1>
      <p class="mb-4">
        GPT emails you a fire every Monday, and expands the blast radius until you hit a wall. <span class="hidden lg:inline font-semibold bg-yellow-200 px-1">Most engineers stumble by reply #6</span>
      </p>

      <p class="mb-4">
        It's a pressure test for <span class="font-semibold">infra blind spots</span>. All those lessons you only learn during a SEV, in a training format you'll actually use.  <span class="lg:hidden font-semibold bg-yellow-200 px-1">Most engineers stumble by reply #6</span>
      </p>

      <% if params[:utm_source] == "reddit" %>
        <p class="mb-4">
          I spent ~<span class="font-semibold">800 hours</span> on this idea. It'll feel different than the AI slop you expect. A few redditors played for 20+ minutes. 😉
        </p>
      <% end %>

      <div class="mb-4">
        <%= render "conversations/conversation" %>
      </div>
    </div>
  </div>
  <div class="mt-6 lg:mt-[20px]">
    <div class="mb-6">
      <img src="/example-incidents.png" class="w-full rounded-xl border border-gray-700" />
    </div>

    <img src="/intro-email-mobile.png" class="border-2 border-gray-200 rounded-lg w-full md:hidden" />
    <img src="/intro-email-desktop.png" class="border-2 border-gray-200 rounded-lg w-full hidden md:block" />


    <div class="flex flex-col">
      <div class="mt-6">
        <%= render "extended_cta" %>
      </div>
    </div>
    <div class="mt-4">
      <%= render "static/signature" %>
    </div>
  </div>
</div>