<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[20px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[21px] lg:text-[24px] tracking-tight mb-[12px]">
        Bite-sized <span class="font-semibold">infra puzzles</span> for Staff+ SREs
      </h1>
      <p class="mb-4">
        GPT drops you into a SEV-1, and expands the blast radius until you mess up. <span class="hidden lg:inline">It catches most people in 4-5 turns.</span>
      </p>

      <p class="mb-4 hidden lg:block">
        You'll learn something every time. It simulates that feeling when your mental model crumbles at 2:00am in prod.
      </p>

      <p class="mb-4 md:hidden">
        You'll learn something every time. It simulates that feeling when your mental model crumbles at 2:00am in prod.
      </p>

      <p class="mb-4 hidden md:block lg:hidden">
        You learn a lot about infra inside a prod console at 2:00am. This simulates that feeling.
      </p>

      <div class="mb-4">
        <%= render "conversations/conversation" %>
      </div>
    </div>
  </div>
  <div class="mt-6 lg:mt-[20px]">
    <div>
      <img src="/example-incidents.png" class="w-full rounded-xl border border-gray-700" />
    </div>

    <div class="flex flex-col">
      <div class="mt-6">
        <%= render "extended_cta" %>
      </div>
    </div>

    <div class="mt-6">
      <img src="/intro-email-mobile.png" class="border-2 border-gray-200 rounded-lg w-full md:hidden" />
      <img src="/intro-email-desktop.png" class="border-2 border-gray-200 rounded-lg w-full hidden md:block" />
    </div>

    <div class="mt-4">
      <%= render "static/signature" %>
    </div>
  </div>
</div>