<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[14px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[21px] lg:text-[26px] font-semibold md:font-medium tracking-tight mb-[12px]">
        Find the <span style="color: #E63946">SEV-1</span> before it finds prod<span class="hidden md:inline">uction</span>.
      </h1>
      <p class="mb-4">
        GPT emails you a fire every Monday, and expands the blast radius until you hit a wall. <span class="hidden lg:inline">Pressure tests for <span class="font-semibold">infra blind spots</span>.</span>
      </p>

      <p class="mb-4 hidden md:block">
        I've spent ~<span class="font-semibold">800 hours</span> on the idea. Most senior SRE's start to crack around reply #6. Failure tightens your mental model.
      </p>

      <p class="mb-4 md:hidden">
        Most senior SRE's start to crack around reply #6, and learn about a flaw in their mental model.
      </p>

      <p class="mb-4 md:hidden">
        I've spent ~<span class="font-semibold">800 hours</span> on the idea. It's a little harsh/unrelenting, but so is production.
      </p>

      <div class="mb-4">
        <%= render "conversations/conversation" %>
      </div>
    </div>
  </div>
  <div class="mt-6 lg:mt-[20px]">
    <div class="mb-6">
      <img src="/example-incidents.png" class="w-full rounded-xl border border-gray-700" />
    </div>

    <img src="/intro-email-mobile.png" class="border-2 border-gray-200 rounded-lg w-full md:hidden" />
    <img src="/intro-email-desktop.png" class="border-2 border-gray-200 rounded-lg w-full hidden md:block" />


    <div class="flex flex-col">
      <div class="mt-6">
        <%= render "extended_cta" %>
      </div>
    </div>
    <div class="mt-4">
      <%= render "static/signature" %>
    </div>
  </div>
</div>