<div class="text-md tracking-[0.008em]">
  <div class="lg:block">
    <div class="mt-[10px] md:mt-[24px] lg:mt-[15px] max-w-[90ch] text-[17px] text-gray-800">
      <h1 class="text-[19px] tracking-tight mb-[6px] hidden md:block">
        <span class="font-semibold">Hard SRE puzzles</span> to stress test your production instincts
      </h1>
      <div class="mb-4 text-[16px]">
        <span class="md:hidden lg:block">
          GPT drops you into a SEV-1, expands the blast radius until you mess up, and gives precise technical feedback.
        </span>

        <span class="hidden md:block lg:hidden">
          GPT drops you into a SEV-1, and expands the blast radius until you mess up.
        </span>
      </div>

      <%= render "conversations/conversation" %>
    </div>
  </div>
</div>