@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fcfcfc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Text Web';
  src: url('/fonts/CanelaText-MediumItalic-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

.signature {
  font-family: 'Canela Text Web';
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}